.login__button-box {
  display: flex;
  justify-content: center;
  background-color: #fff;
  margin-top: 216px;
}

@media screen and (max-width: 410px) {
  .login__button-box {
    align-self: center;
    width: 260px;
  }
}