.film {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.film__image {
  max-width: 100%;
  width: 100%;
  height: 100%;
  aspect-ratio: 270 / 151;
  max-height: 151px;
  object-fit: cover;
}

.film__movie-trailer-link {
  text-decoration: none;
}

.film-info {
  display: grid;
  grid-template-areas:
    'title like'
    'time time'
  ;
  grid-template-columns: 1fr 24px;
  max-width: 100%;
}

.film-title {
  grid-area: title;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 14px 0 29px;
  text-overflow: ellipsis; 
  white-space: nowrap; 
  overflow: hidden;
}

.film-details {
  grid-area: time;
  width: 100%;
}

.film-like {
  background-color: transparent;
  background-image: url('../../images/unliked.svg');
  grid-area: like;
  border: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-top: 10px;
}

.film-like_active_like {
  background-image: url('../../images/like.svg'); 
}

.film-like_active_delete {
  background-image: url('../../images/deleteLike.svg'); 
}

.film-like:hover {
  opacity: .5;
}

.film-line {
  grid-area: spliter;
  width: 100%;
  height: 1px;
  border: none;
  background-color: #E8E8E8;
  margin: 0;
  margin-bottom: 6px;
}

.film-duration {  
  color: #A0A0A0;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

@media screen and (max-width: 1080px) {
  .film__image {
    max-height: 190px;
  }
}

@media screen and (max-width: 880px) {
  .film__image {
    max-height: 251px;
    aspect-ratio: 339 / 190;
  }

  .film-title {
    margin: 19px 0 31px;
  }
}

@media screen and (max-width: 530px) {
  .film-title {
    margin: 16px 0 27px;
    font-size: 12px;
  }

  .film__image {
    max-height: 298px;
  }
}

@media screen and (max-width: 320px) {
  .film__image {
    height: 168px;
    aspect-ratio: 300 / 168;
  }
}

