.header {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-bottom: 1px solid rgba(54, 54, 54, .7);
  box-sizing: border-box;
}

@media screen and (max-width: 500px) {
  .header {
    margin-bottom: 42px;
  }
}
