.header__link {
  color: #fff;
  line-height: 22px;
  font-size: 18px;
  text-decoration: none;
  margin-right: 10px;
}
  
.header__link:hover {
  color: #a9a9a9;
  transition: .2s linear
}

@media screen and (max-width: 920px) {
  .header__link {
    margin-right: 30px;
  }
}