.footer {
  padding: 0 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 172px;
  box-sizing: border-box;
  width: 100%;
}

.footer__text-line {
  position: relative;
}

.footer__text {
  padding-bottom: 20px;
  margin: 0;
  align-self: center;
  color: #A0A0A0;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__text::after {
  content: '';
  width: 100%;
  border-bottom: 1px solid #E8E8E8;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 1;
}

.footer__info-container {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
.footer__year {
  margin: 0;
  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__platform {
  margin: 0;
  color: #000;
  text-align: right;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.footer__platform:hover {
  opacity: .5;
}

.footer__github { 
  color: #000;
  text-align: right;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  margin-left: 20px;
}

.footer__github:hover {
  opacity: .5;
}

@media screen and (max-width: 880px) {
  .footer {
    padding: 0 30px;
    padding-bottom: 19px;
  }
}

@media screen and (max-width: 660px) {
  .footer {
    padding: 0 10px;
  }

  .footer__link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    grid-area: links;
  }

  .footer__info-container {
    display: grid;
    grid-template-areas: 
      '. links .'
      '. year .'
    ;
    row-gap: 30px;
  }

  .footer__text {
    font-size: 12px;
  }

  .footer__platform {
    font-size: 12px;
  }

  .footer__year {
    font-size: 12px;
    color: #A0A0A0;
    grid-area: year;
    text-align: center;
  }

  .footer__github { 
    margin-left: 0;
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    height: 320px;
    padding-bottom: 86px;
  }

  .footer__text {
    padding-bottom: 43px;
  }

  .footer__info-container {
    padding: 10px 0;
  }

  .footer__text::after {
    top: 35px;
  }
}
